<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="fiftyOne">
      <section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
      <section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
      <section name="wurfl" type="FiftyOne.Foundation.Mobile.Detection.Wurfl.Configuration.WurflSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Detector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <log4net>

    <!-- Log VS -->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <!-- Log General -->
    <appender name="Main" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/main" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Main" />
      <appender-ref ref="TraceAppender" />
    </root>

    <!-- Log de Movimientos de Usuario -->
    <appender name="Usuario" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/usuario" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>

    <logger additivity="false" name="Usuario">
      <level value="DEBUG" />
      <appender-ref ref="Usuario" />
    </logger>

    <!-- Log de Emails -->
    <appender name="Email" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/email" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>

    <logger additivity="false" name="Email">
      <level value="DEBUG" />
      <appender-ref ref="Email" />
    </logger>

    <!-- Log de ScheduledJobs -->
    <appender name="ScheduledJobs" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/scheduledJobs" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>

    <logger additivity="false" name="ScheduledJobs">
      <level value="DEBUG" />
      <appender-ref ref="ScheduledJobs" />
    </logger>

  </log4net>

  <fiftyOne>
    <log logFile="~/logs/51.txt" />
    <wurfl wurflFilePath="~/App_Data/wurfl.xml.gz" newDeviceDetail="maximum" newDevicesURL="http://devices.51degrees.mobi/new.ashx" useActualDeviceRoot="false">
      <wurflPatches>
        <add name="browser_definitions" filePath="~/App_Data/web_browsers_patch.xml" enabled="true" />
      </wurflPatches>
    </wurfl>
  </fiftyOne>

  <system.web>
    <globalization uiCulture="es" culture="es-MX" />
    <customErrors mode="Off" defaultRedirect="~/Errores/Error.aspx">
      <error statusCode="404" redirect="~/Errores/404.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Newtonsoft.Json, Culture=neutral" />
        <add assembly="Ext.Net, Culture=neutral" />
        <add assembly="Ext.Net.Utilities, Culture=neutral" />
      </assemblies>
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <machineKey validationKey="FBC6EC5A914B8A400AF0E757ADA52489AA6E2949CFC1097C1A3B015F55C2D34E95E32D322BCC9749F043A9C25064446354E70A95F428E8751082C25BB1BBD82A" decryptionKey="F73B467C9ED9862C863849174566938BD6E2891832DA22DF2225453C8BA24A5C" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms name="AdministradorDeIglesiasV2.Website" path="/" defaultUrl="/" loginUrl="Login" protection="All" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false" timeout="525600" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="20" cookieless="UseCookies" />
    <pages enableSessionState="true" enableViewState="false" enableViewStateMac="false" buffer="true" />
    <!-- IIS6 -->
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation" />
      <add name="ZCompressor" type="ZagueEF.Core.Web.CompressionModule.ZCompressor" />
    </httpModules>
  </system.web>

  <!-- Permisos especificos por archivo y/o carpetas -->
  <!-- ############################################# -->
  <location path="Paginas/Configuración/Logs.aspx">
    <system.web>
      <httpRuntime />
    </system.web>
  </location>
  <location path="Inscripcion">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="PaginasExternas">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServices">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="index.html">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Errores">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Paginas/Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile/Paginas/Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Recursos">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile/Recursos">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="extnet">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- ############################################# -->

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="DirectRequestModule" />
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <remove name="Detector" />
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation" />
      <remove name="ZCompressor" />
      <add name="ZCompressor" type="ZagueEF.Core.Web.CompressionModule.ZCompressor" />
    </modules>
  </system.webServer>

  <!-- Conexiones a BDs -->
  <connectionStrings>
    <add name="IglesiaEntities" connectionString="metadata=res://*/Modelos.Iglesia.csdl|res://*/Modelos.Iglesia.ssdl|res://*/Modelos.Iglesia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLExpress;Initial Catalog=PuertaDelCielo;Persist Security Info=True;User ID=sa;Password=root;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- Configuraciones Generales -->
  <appSettings>
    <add key="DirDeVisorDeLogs" value="~/logs" />
    <add key="UrlDePaginaDeLogin" value="~/Paginas/Login.aspx" />
    <add key="EmailDeUsuarioDeSoloLectura" value="solo-lectura@root.com" />
    <add key="PwdDeUsuarioDeSoloLectura" value="50l0-L3c7uR4" />
    <add key="UrlDeVersionMobile" value="http://www.frocu.com/puertacielo-mobile" />
    <add key="RemitenteDeCorreos" value="no-reply@frocu.com" />
    <add key="BccDeCorreos" value="" />
    <add key="ServidorDeCorreos" value="relay-hosting.secureserver.net" />
    <add key="GoogleAnalyticsId" value="UA-35308920-1" />
    <add key="GoogleAnalyticsEnabled" value="false" />
    <add key="jQueryUrl" value="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
  </appSettings>

  <!-- Configuraciones de Correo Electronico -->
  <system.net>
    <mailSettings>
      <smtp from="no-reply@frocu.com" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp" />
        <network host="relay-hosting.secureserver.net" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>