<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <log4net>

    <!-- Log VS -->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="TraceAppender"/>
    </root>

    <!-- Log General -->
    <appender name="Main" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/main" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Main" />
    </root>

    <!-- Log de Movimientos de Usuario -->
    <appender name="Usuario" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/usuario" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>

    <logger additivity="false" name="Usuario">
      <level value="DEBUG" />
      <appender-ref ref="Usuario" />
    </logger>

    <!-- Log de Emails -->
    <appender name="Email" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/email" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MMM/yyyy hh:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>

    <logger additivity="false" name="Email">
      <level value="DEBUG" />
      <appender-ref ref="Email" />
    </logger>

  </log4net>
  
  <connectionStrings>
    <add name="IglesiaEntities" connectionString="metadata=res://*/Modelos.Iglesia.csdl|res://*/Modelos.Iglesia.ssdl|res://*/Modelos.Iglesia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PuertaDelCielo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>